# ---- OS / Misc ----
.DS_Store
Thumbs.db
*.log
*.zip

# ---- Entornos ----
.env
.env.*.local
*.env
*.local

# ---- Editores ----
.vscode/
.idea/

# ---- Node/Vite (dentro de front/) ----
front/node_modules/
front/dist/
front/.vite/
front/.parcel-cache/
front/coverage/

# ---- Tests ----
front/.nyc_output/
front/junit.xml
